#root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vb;
}
.side-display {
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 185, 211);
  margin-right: 30px;
  padding: 16px;
  align-items: center;
  border-top-left-radius: 44px;
  border-bottom-right-radius: 44px;
}
.singer {
  background-color: aliceblue;
  padding: 6px;
  color: rgb(58, 52, 52);
  border-radius: 8px;
}
.list {
  text-align: center;
  list-style-type: square;
  padding: 20px;
  margin-top: -10px;
  background-color: #ffffff;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.container {
  height: 83vh;
  width: 40vh;
  background-color: #e3dbdb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 00.5),
    /*inner shadow */ 0 0 20px rgba(178, 171, 171, 0.9);
}
.test.image {
  object-fit: fill;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
h1 {
  font-family: "gilroy";
  font-size: 30px;
}
.para {
  color: #6b6567;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(336, 5%, 80%);
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 12px;
  box-shadow: 0010px rgba(161, 139, 139, 0.5), 0020pxrgba (229, 217, 217, 0.9); /*inner shadow*/
}
#annual {
  font-weight: bold;
  font-family: "gilroy";
  margin-bottom: 0px;
}
#price {
  font-weight: bold;
  font-family: "gilroy";
  margin-top: 0;
  margin-bottom: 10;
  color: #6b6567;
  font-weight: bold;
}
#change {
  display: flex;
  padding-left: 40px;
  text-decoration: underline;
  color: blue;
}
.payment {
  background-color: rgb(122, 186, 144);
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;
  padding: 10px;
  color: white;
  border-radius: 12px;
  font-weight: 12px;
  font-weight: bold;
  box-shadow: 0010px rgba(98, 89, 89, 0.5), 0020pxrgba (255, 255, 255, 0.9); /*inner shadow*/
}
#Cancel {
  font-weight: 600s;
}
